.title-principal-movie{
    font-weight: bold;
    color: #F3764B ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.tendance-movie{
    padding-top: 5%;
}

.tendance-movie a{
    text-decoration: none;
    color: #F3764B;
}

.list-title{
    color: #F3764B;
    font-size: 1.5rem;
}

.list-block{
    display: flex;
    flex-direction: row;
}

.list{
    margin-right: 20px;
    width: 200px;
}

.list-movie-title{
    font-size: 17px;
    font-weight: bold;
}

.Movie-card-list{
    display: flex;
    flex-direction: row;
}